soar/n8n/workflow-kibana-to-thehive.json
{
  "name": "VN-SOC Kibana Alert → TheHive Case",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kibana-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (Kibana action)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Kibana alert payload\nconst alert = $input.first().json.body || $input.first().json;\nconst ruleName = alert.rule?.name || alert.kibana?.alert?.rule?.name || 'Unknown rule';\nconst severity = alert.rule?.severity || alert.kibana?.alert?.severity || 'medium';\nconst sevMap = { low: 1, medium: 2, high: 3, critical: 4 };\nreturn [{\n  json: {\n    title: `[VN-SOC] ${ruleName}`,\n    description: `Auto-created from Kibana detection rule.\\n\\nRule: ${ruleName}\\nSeverity: ${severity}\\nTimestamp: ${alert['@timestamp'] || alert.kibana?.alert?.original_time || new Date().toISOString()}\\nSource event: ${JSON.stringify(alert, null, 2).substring(0, 2000)}`,\n    severity: sevMap[severity.toLowerCase()] || 2,\n    tlp: 2,\n    pap: 2,\n    tags: ['vn-soc-lab', 'auto-created', `severity-${severity}`],\n    sourceRef: alert.kibana?.alert?.uuid || alert._id || `vnsoc-${Date.now()}`,\n    observables: [\n      alert['source.ip'] ? { dataType: 'ip', data: alert['source.ip'], message: 'source IP' } : null,\n      alert['url.original'] ? { dataType: 'url', data: alert['url.original'], message: 'URL probed' } : null,\n      alert['user_agent.original'] ? { dataType: 'user-agent', data: alert['user_agent.original'], message: 'UA' } : null,\n    ].filter(Boolean)\n  }\n}];"
      },
      "id": "parse-alert",
      "name": "Parse Alert → Case Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "http://192.168.154.165:9000/api/v1/case",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, description: $json.description, severity: $json.severity, tlp: $json.tlp, pap: $json.pap, tags: $json.tags, sourceRef: $json.sourceRef }) }}",
        "options": {}
      },
      "id": "thehive-create-case",
      "name": "TheHive: Create Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "thehive-auth", "name": "TheHive Header Auth" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, thehive_case_id: $json._id, thehive_case_number: $json.number }) }}"
      },
      "id": "webhook-response",
      "name": "Return to Kibana",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook (Kibana action)": { "main": [[{ "node": "Parse Alert → Case Payload", "type": "main", "index": 0 }]] },
    "Parse Alert → Case Payload": { "main": [[{ "node": "TheHive: Create Case", "type": "main", "index": 0 }]] },
    "TheHive: Create Case": { "main": [[{ "node": "Return to Kibana", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
